p {
  margin: 0; }

body {
  min-height: 100vh;
  background-color: #F5F4F7; }

.container {
  width: 100%;
  max-width: 750px;
  /*no*/
  margin: 0 auto;
  padding: 123px 0 145px; }
  .container .header {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    padding: 61px 0 40px;
    background-color: #fff;
    max-width: 750px;
    /*no*/
    z-index: 999; }
    .container .header div {
      position: relative;
      color: #000;
      font-size: 34px;
      color: #a1a1a1; }
      .container .header div + div {
        margin-left: 14px; }
      .container .header div.actived {
        color: #000; }
        .container .header div.actived:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -12px;
          height: 5px;
          border-radius: 2.5px;
          background-color: #ffde00; }
    .container .header img {
      display: block;
      position: absolute;
      z-index: 2; }
      .container .header img.logo {
        left: 30px;
        top: 30px;
        width: 177px;
        height: 76px; }
      .container .header img.search {
        right: 30px;
        top: 60px;
        width: 26px;
        height: 27px; }
  .container .poster {
    padding: 0 30px 30px;
    background-color: #fff; }
    .container .poster img {
      display: block;
      width: 100%;
      height: auto; }
  .container .navs {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 28px;
    background-color: #fff; }
    .container .navs > div {
      position: relative;
      width: 186px;
      padding: 25px 17px 39px;
      border-radius: 10px;
      color: #323232;
      font-size: 16px; }
      .container .navs > div .title {
        margin-bottom: 11px;
        color: #545563;
        font-size: 24px;
        font-weight: bold; }
      .container .navs > div .subtitle {
        display: inline-block;
        position: relative;
        padding: 3px 7px;
        text-align: center;
        border-radius: 3px;
        border-bottom-width: 1px;
        opacity: .2; }
        .container .navs > div .subtitle:after {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 200%;
          height: 200%;
          border: 1px solid #000;
          /*no*/
          transform-origin: 0 0;
          transform: scale(0.5);
          box-sizing: border-box; }
      .container .navs > div img {
        display: block;
        position: absolute; }
      .container .navs > div.shop {
        background: linear-gradient(to bottom, #F6E7AE, #FFE355); }
        .container .navs > div.shop img {
          right: 24px;
          top: 36px;
          width: 68px;
          height: 51px; }
      .container .navs > div.money {
        background: linear-gradient(to bottom, #DEE5FC, #BFC5FC); }
        .container .navs > div.money img {
          right: 18px;
          top: 31px;
          width: 71px;
          height: 60px; }
      .container .navs > div.live {
        background: linear-gradient(to bottom, #BDFED2, #A5FFA5); }
        .container .navs > div.live img {
          right: 28px;
          top: 25px;
          width: 77px;
          height: 69px; }
  .container .list {
    width: 100%;
    padding: 0 9px;
    box-sizing: border-box;
    overflow: hidden; }
    .container .list > div {
      margin-right: -11px;
      font-size: 0;
      overflow: hidden; }
    .container .list .item {
      display: inline-block;
      width: 360px;
      height: 531px;
      margin: 11px 11px 0 0;
      vertical-align: top;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
      overflow: hidden; }
      .container .list .item img {
        display: block;
        width: 100%;
        height: 346px; }
      .container .list .item .content {
        padding: 24px 20px; }
        .container .list .item .content .goods_name {
          min-height: 61px;
          display: -webkit-box;
          /*! autoprefixer:innore next */
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          word-break: break-all;
          line-height: 1.2;
          color: #2D2B39;
          font-size: 30px;
          overflow: hidden; }
        .container .list .item .content .other {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 34px; }
          .container .list .item .content .other .user {
            display: flex;
            align-items: center;
            color: #2D2B39;
            font-size: 20px; }
            .container .list .item .content .other .user img {
              width: 40px;
              height: 40px;
              margin-right: 10px;
              border-radius: 50%; }
          .container .list .item .content .other .like {
            display: flex;
            align-items: center;
            color: #595959;
            font-size: 26px; }
            .container .list .item .content .other .like img {
              width: 26px;
              height: 24px;
              margin-right: 10px; }
  .container .bottom_nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 750px;
    /*no*/
    padding: 12px 25px;
    background-color: #fff;
    z-index: 999; }
    .container .bottom_nav .nav {
      color: #000;
      font-size: 24px;
      text-align: center; }
      .container .bottom_nav .nav img {
        display: block;
        width: 43px;
        height: 43px;
        margin: 0 auto 15px; }
    .container .bottom_nav .add {
      margin-top: -60px;
      padding: 12px;
      border-radius: 50%;
      background-color: #fff;
      font-size: 0; }
      .container .bottom_nav .add > div {
        width: 102px;
        height: 102px;
        padding-top: 28px;
        background-color: #FFCB02;
        box-sizing: border-box;
        text-align: center;
        border-radius: 100%; }
        .container .bottom_nav .add > div img {
          width: 48px;
          height: 48px; }
